/* Wrapper Styling */

#wrapper {
  background-image: url("img/bcg.jpg");
  background-position: center;
  min-height: 1000px;
}

/* Nav Bar Styling */


/* Body Styling */

a {
  color: navy;
}

a:hover {
  text-decoration: none;
  color: yellow;
}